/* Set the height and width of the map */
#map {
    height: 500px;
    width: 100%;
    border: 2px solid #333;
    border-radius: 5px;
}

/* Center the title */
h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

#toggleBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .legend {
    background: white;
    padding: 10px;
    line-height: 18px;
    color: #333;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
  }